@for (item of datas; track item.id) {
<div [class.viewdata]="viewedData?.id === item.id">
  <p [innerHTML]="item.name | nameFormat"></p>
  <button (click)="viewDetails(item)">View Details</button>
</div>
}
{{chengeShowDetails()}}
<hr>
@if(showDetails){

  <div [@hideDetails] class="details">
    <h5 [innerHTML]="viewedData?.name | nameFormat"></h5>
    <ul>
      <li>Address: {{viewedData?.address}}</li>
      <li>Age: {{viewedData?.age}}</li>
    </ul>
    @if(viewedData?.books){
      <ul>
        
        @for(book of viewedData?.books;track book){
    <li>{{book}}</li>
    }
  </ul>
  }

  <button (click)="closeDetails()">Close Details</button>
</div>
}